@use 'styles/utils' as *;

.diary-description-header {
  padding: 2.8rem 0 2rem 0;

  &__header {
    @include flexCenter(horizontal);
  }

  &__status {
    @include flexCenter(all);

    margin-right: 9px;
  }

  &__title {
    color: #484747;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 1.5;

    @include overflowTextVertical(2);
  }

  &__sub-header {
    @include flexCenter(horizontal);

    color: #a09d96;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  &__author {
    &::after {
      display: inline-block;
      padding: 0 3px;
      color: #a09d96;
      content: '·';
    }
  }
}
