@use 'styles/utils' as *;

.diary-card {
  $self: &;

  padding: 2rem;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);

  &__header {
    @include flexCenter(vertical);

    #{$self}__date {
      margin-left: 8px;
      color: #356859;
      font-weight: 800;
      font-size: 1.8rem;
      line-height: 2.1;
    }

    #{$self}__more {
      margin-left: auto;
    }
  }

  &__article {
    display: flex;
    margin-top: 2rem;
  }

  &__summary {
    @include flexSpaceBetween(column);

    #{$self}__content {
      @include overflowTextVertical(3);

      color: #484747;
      font-weight: 500;
      font-size: 1.4rem;
    }

    #{$self}__extra-content {
      color: #a09d96;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  &__thumbnail {
    margin-left: 1.6rem;
    border-radius: 1.6rem;
  }
}
