@use 'modern-css-reset';
@use 'styles/font.scss';

$background-color: #fdf7ea;

* {
  font-family: 'SF Pro Display', 'Noto Sans KR', system-ui;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  line-height: normal;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  background-color: $background-color;
}

#root {
  background-color: inherit;
}

input {
  outline: none;
  -webkit-appearance: none;
}

textarea {
  outline: none;
  -webkit-appearance: none;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
