$font-styles: (
  header1: 1.8rem bold 2.7,
  header2: 1.6rem bold 2.1,
  header3: 1.6rem 500 2.1,
  body: 1.4rem normal 2.6,
  subtitle: 1.4rem normal 2.1,
  small: 1.2rem 500 1.8,
);

@mixin typography($name) {
  $item: map.get($font-styles, $name);

  @if $item == null {
    @error '`#{$name}` is not a valid font style.';
  }

  $size: list.nth($item, 1);
  $weight: list.nth($item, 2);
  $line-height: list.nth($item, 3);

  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
}
