@mixin header1 {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 2.7;
}

@mixin header2 {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2.1;
}

@mixin header3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.1;
}

@mixin body {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.6;
}

@mixin subtitle {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.1;
}

@mixin small {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8;
}
