$header-height: 5.2rem;
$safe-area-inset-top: env(safe-area-inset-top, 2rem);
$header-height-with-safe-area: calc($header-height + $safe-area-inset-top);
$min-height-viewport: calc(100vh - $safe-area-inset-top);
