@use 'styles/variables' as *;
@use 'styles/utils' as *;
@use 'styles/typography' as *;
@use 'styles/colors' as *;

$background-color: #fdf7ea;

.monthly-diary {
  $self: &;

  min-height: calc(100vh - $header-height-with-safe-area);

  padding: 0 1.4rem 1.4rem;
  background-color: $background-color;

  &__list {
    margin: 0;

    #{$self}__item {
      margin-bottom: 1.4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__empty {
    @include typography(header3);

    position: absolute;
    top: 50%;
    left: 50%;
    color: $sub-dark;
    transform: translate(-50%);
  }
}
