@use 'styles/variables' as *;
@use 'styles/utils' as *;
@use 'styles/typography' as *;
@use 'styles/colors' as *;

$margin-top: calc($header-height-with-safe-area + 1.6rem);

.monthly-diary {
  $self: &;

  height: calc(100vh - $margin-top - 5.5rem);
  margin: $margin-top 0 5.5rem;
  padding: 0 1.4rem;

  &__list {
    #{$self}__item {
      margin-top: 1.4rem;
    }
  }

  &__empty {
    @include typography(header3);

    position: absolute;
    top: 50%;
    left: 50%;
    color: $sub-dark;
    transform: translate(-50%);
  }
}
