.todo-info-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 1.5rem 1.3125rem 0.25rem 1.3125rem;
  background-color: #fff;
  border-radius: 0.75rem;
}
