@use 'styles/variables' as *;
@use 'styles/utils' as *;

.fixed-header {
  @include flexSpaceBetween(row);

  $self: &;

  position: fixed;
  top: 0;
  z-index: z-index(fixed-header);
  align-items: center;
  box-sizing: content-box;
  width: 100%;
  height: $header-height;
  padding: $safe-area-inset-top 20px 0;
  background-color: inherit;

  &__logo {
    flex: 1;
    margin-right: auto;
  }

  &__month-picker {
    @include flexCenter(vertical);

    #{$self}__month {
      flex: 1;
      font-weight: bold;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
    }

    #{$self}__caret-icon {
      margin-left: 4px;
    }
  }

  &__calendar {
    display: flex;
    flex: 1;

    &-icon {
      margin-left: auto;
    }
  }
}
