@use 'styles/variables' as *;
@use 'styles/utils' as *;

.fixed-header {
  @include flexSpaceBetween(row);

  position: fixed;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0 20px;

  &__logo {
    flex: 1;
    margin-right: auto;
  }

  &__month {
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  &__calendar {
    display: flex;
    flex: 1;

    &-icon {
      margin-left: auto;
    }
  }
}
