@use 'styles/utils' as *;

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: z-index(modal);
  background-color: rgba(0, 0, 0, 0.5);

  &--top {
    @include flexCenter(horizontal);

    align-items: flex-start;
  }

  &--center {
    @include flexCenter(all);
  }

  &--bottom {
    @include flexCenter(horizontal);

    align-items: flex-end;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
    transition: visibility linear 0.2s, opacity 0.2s;
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility linear 0.2s, opacity 0.2s;
  }
}
